[submodule "client"]
	path = client
	url = https://github.com/ichaudharyvivek/check-subfolder-git-client.git
[submodule "server"]
	path = server
	url = https://github.com/ichaudharyvivek/check-subfolder-git-server.git
